<div class="home-categories row">
  {{#pages}}
    {{^is_index}}
      <div class="col col-sm-4 col-xs-12">
        <div class="card {{class}}">
          <h2 class="card-heading">{{title}}</h2>
          <ul class="list-group pages">
            {{#files}}
              {{#is_directory}}
                <li class="list-group-item page">
                  <a href="{{config.base_url}}/{{slug}}">{{title}}</a>
                </li>
              {{/is_directory}}
            {{/files}}
          </ul>
        </div>
      </div>
    {{/is_index}}
  {{/pages}}
</div>
